 {{!Esse form é o cabeçalho da HOME}}
 <nav class="painelFixo titulo-main" style="background-color:#01387c;height: 10.5vh;">
        <div class="barraHome" >
            <div class="barraHomeLogo" style="display: flex;flex-direction: row;justify-content:left;justify-items: center;width: 100%;height: 4vh;">
                <a href="/" >
                   <img id="imgHome"  src="/images/logo_dois.png" class="logo"  width="100%" height="auto" style="margin-left: 1vw;">
                </a>
            </div>
        </div>
        <div id="barraMenu" class="barraMenu" style="padding:2px;">
            {{!-- <a  id="zero-compras" class="active escolha" href="#home" style="">outros segmentos</a> --}}
            {{!-- <a  id="zero-profissionais" class="active escolha" href="#home"> Profissionais serviços...</a> --}}
            <a  id="zero-querotrabalhar" class="active escolha" href="#home"> Quero trabalhar...</a>
            <a  id="zero-querotrabalhar" class="active escolha" href="#home"> Seja um cooperativado</a>
            {{!-- <a  id="zero-turismo" class="active escolha" href="#home" style="width: 100%;"> Turismo...</a> --}}
            <a  id="zero-nossaempresa" class="active escolha" href="#home"> Nossa empresa</a>
            <a  id="zero-contato" class="active escolha" href="#home"> Contato</a>
        </div>
</nav>





